Pandas

In [37]:
#install pandas
!pip install Pandas

Requirement already satisfied: Pandas in d:\ml\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\ml\anaconda3\lib\site-packages (from Pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\ml\anaconda3\lib\site-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\ml\anaconda3\lib\site-packages (from Pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\ml\anaconda3\lib\site-packages (from Pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\ml\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)

In [2]:
import pandas as pd

In [39]:
#pandas Series
a=[1,2,3,4]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
#dictionary in pandas data frame
data={"name":["sai","raj","riya","kirti"],
     "age":[18,20,17,19],
    "score":[80,88,70,90]
     }
df=pd.DataFrame(data)
print(df)
#locating specific values
print(df.loc[3])
print(df.loc[1:3])
print(df.loc[0:3:2])

    name  age  score
0    sai   18     80
1    raj   20     88
2   riya   17     70
3  kirti   19     90
name     kirti
age         19
score       90
Name: 3, dtype: object
    name  age  score
1    raj   20     88
2   riya   17     70
3  kirti   19     90
   name  age  score
0   sai   18     80
2  riya   17     70

In [41]:
#pandas DataFrames
import pandas as pd 
data = { 
"calories": [420, 380, 390], 
"duration": [50, 40, 45] 
} 

#load data into a DataFrame object: 
df = pd.DataFrame(data) 
print(df)  

#locating rows
print(df.loc[0])

   calories  duration
0       420        50
1       380        40
2       390        45
calories    420
duration     50
Name: 0, dtype: int64

In [42]:
#pandas read csv
import pandas as pd 
df = pd.read_csv('data.csv') 
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [43]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [51]:
#pandas analyzing dataframe
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())
#finding unidue value(without repeatative value)
print(df["uration"].unique())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000
[ 60  45  30  80  20 210 160 180 150 300  90 120 270  15  25  75]

In [3]:
#replace using mean,mode and median
df=pd.read_csv("data.csv")
x=df["Calories"].mean()
df["Calories"].fillna(x)

df=pd.read_csv("data.csv")
x=df["Calories"].mode()
df["Calories"].fillna(x)

df=pd.read_csv("data.csv")
x=df["Calories"].median()
df["Calories"].fillna(x)

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64